body {
    font-family: Arial, Helvetica, sans-serif;
}

.recipes {


}


.description {
    font-family: 'Times New Roman', Times, serif;

}

.ingredients {


}


.steps {


}

p, ul, ol {
    max-width: 600px;

}

.recipes li {
    margin: 20px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;

}